.title{
	font-family: Roboto;
}
.title{
	font-family: Roboto;
}
body {
	margin: 0;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 40px 0px;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0px;
}
.logo {
	position: relative;
	padding:40px 0;
	padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	Opacity: .7;
}
.logo__circle_cokor_blue {
	background: #C8DBFB;
	left: 8px;
	top: 56%;
}
.logo__circle_cokor_dark-blue {
	background: #0056EC;
}
